.soundToggle {
  height: 24px * 1.5;
  transition: all 0.5s;
  cursor: pointer;
}

.in_ToolBar {
 
  padding-top: 1%;
  height: 100%; 
  margin: 0px;
  vertical-align: "middle";
  margin: " auto 0 ";
  position: absolute;
  right: 0%;
  
}
.in_SideDrawer {
 position: relative;
 vertical-align: middle;
 
}