@import "../../assets/styles/base";
.img_0 {
  position: relative;
  display: inline-block;
  height: 330px;
  width: 80%;
  height: 70%;
}
.questionText {
  position: relative;
  font-family: $Base_fontFace;

  white-space: pre-line;
}
.centeringDiv {
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
  padding: auto;
}
