.prog_q_icon {
  display: inline;
  width: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
  border: 0px solid black;
  z-index: 10;
  transition: all 0.4s;
  transition-delay: 0.3s;
}
.unanswered {
  color: grey;
}
.answered {
  color: blue;
  background-color: rgb(241, 218, 143);
}
.current_Q_num {
  font-weight: bold;
  background-color: rgb(180, 173, 151);

  color: black;
}
