.prog_q_icon {
  display: inline;
  width: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
  border: 0px solid black;
  z-index: 10;
}
.unanswered {
  color: grey;
}
.answered {
  color: blue;
  background-color: rgb(234, 255, 47);
}
