.question {
  position: relative;
  background-color: antiquewhite;
  color: brown;
  width: 70%;
  left: 15%;

  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(207, 176, 244, 0.9868989832261029) 0%,
    rgba(232, 189, 241, 1) 100%
  );
  border-radius: 2px;
  box-shadow: 2px 2px 4px 2px rgba(2, 0, 36, 0.5);
  padding: 5px;
  padding-bottom: 15px;
}
.answer {
  position: relative;
  background-color: antiquewhite;
  color: rgb(24, 20, 20);
  width: 70%;
  left: 15%;
  height: 60%;
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: rosybrown;
  border-radius: 9px;
  box-shadow: 2px 2px 4px 2px rgba(2, 0, 36, 0.5);
  padding: 5px;
}
.choosenAnswer {
  background: rgb(223, 200, 175);
  box-shadow: 2px 2px 4px 2px rgba(2, 20, 36, 0.9);
}
.submitButton {
  position: relative;
  display: block;

  background-color: rgb(70, 216, 70);
  padding: 15px 32px;
  align-self: center;
  color: rgb(24, 20, 20);
  border: none;
  width: 30%;
  left: 35%;
  height: 60%;
  font-family: inherit;
  font-size: inherit;

  border-radius: 1px;
  box-shadow: 2px 2px 4px 2px rgba(2, 0, 36, 0.2);
  padding: 7px;
}
.submitButton:hover {
  cursor: pointer;
  background-color: rgb(20, 233, 20);
  box-shadow: 2px 2px 4px 2px rgba(2, 0, 36, 0.9);
}
.answer:not(.choosenAnswer):hover {
  cursor: pointer;
  background: rgb(223, 175, 175);
  box-shadow: 2px 2px 4px 2px rgba(2, 0, 36, 0.9);
}
.answer:active {
  cursor: pointer;
  background: rgb(223, 200, 175);
  box-shadow: 2px 2px 4px 2px rgba(2, 20, 36, 0.9);
}
