.menuButton {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
}
// @media (min-width: 500px) {
//   .NavigationItems {
//     flex-flow: row;
//   }
// }
