@import "./assets/styles/base";
@font-face {
  font-family: "KulimPark";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Kulim_Park/KulimPark-Regular.ttf") format("truetype");
}

.App {
  color: $Base_Black;
  font-family: "KulimPark";
  position: absolute;
  height: 100%;
  width: 80%;
  left: 10%;
  box-shadow: 2px 2px 4px 2px rgba(2, 0, 36, 0.5);
  border-radius: 0.5%;
  text-align: center;
  font-size: $Base_fontSize;
  background: rgb(115, 111, 206);
  @include mainBackGround;
  
  overflow: hidden;
  @include tablet {
    font-size: $Mobile_fontSize;
    width: 100%;
    left: 0%;
  }
  @include mobile {
    font-size: $Mobile_fontSize;
    width: 100%;
    left: 0%;
  }
}
