@font-face {
  font-family: "KulimPark";
  font-weight: 400;
  font-style: normal;
  src: url("/src/assets/fonts/Kulim_Park/KulimPark-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "LuckiestGuy";
  font-weight: 400;
  font-style: normal;
  src: url("/src/assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf")
    format("truetype");
}
/* General */
$Base_Black: rgb(43, 1, 1);
$Base_fontSize: 15px;
$Base_fontFace: "KulimPark", sans-serif;
$Logo_fontFace: "LuckiestGuy";

/* progress bar */
$ProgBar_BGrColor: rgb(177, 233, 64);
$ProgBar_LineColor: rgb(68, 153, 103);
$ProgBar_unanswered_color: grey;
$ProgBar_answered_color: rgb(8, 8, 65);
$ProgBar_answered_BGcolor: $ProgBar_LineColor;
$ProgBar_current_color: black;
@mixin current_question_icon {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(168, 160, 0, 1) 0%,
    rgba(255, 242, 0, 1) 53%,
    rgba(168, 160, 0, 1) 100%
  );
  box-shadow: inset 0 0 3px #000000;
}
@mixin next_question_icon {
  background: linear-gradient(
    90deg,
    rgb(231, 223, 62) 0%,
    rgba(255, 242, 0, 1) 53%,
    rgb(236, 228, 76) 100%
  );
}
/* Animation */
$Transition_Duration: 0.4s;
