/* General */
$Base_Black: rgb(43, 1, 1);

$Base_fontSize: 24px;
$base_Header_Size: 32px;

$Mobile_fontSize: 16px;
$Mobile_Header_Size: 12px;

/* progress bar */
$ProgBar_BGrColor: rgb(177, 233, 64);
$ProgBar_LineColor: rgb(68, 153, 103);
$ProgBar_unanswered_color: grey;
$ProgBar_answered_color: rgb(8, 8, 65);
$ProgBar_answered_BGcolor: $ProgBar_LineColor;
$ProgBar_current_color: black;

@mixin mainBackGround {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(12, 134, 196, 0.9868989832261029) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
@mixin sideDrawerBG {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(12, 196, 37, 0.987) 0%,
    rgb(2, 94, 2) 100%
  );
}
@mixin current_question_icon {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(168, 160, 0, 1) 0%,
    rgba(255, 242, 0, 1) 53%,
    rgba(168, 160, 0, 1) 100%
  );
  box-shadow: inset 0 0 3px #000000;
}
@mixin next_question_icon {
  background: linear-gradient(
    90deg,
    rgb(231, 223, 62) 0%,
    rgba(255, 242, 0, 1) 53%,
    rgb(236, 228, 76) 100%
  );
}
/* Animation */
$Transition_Duration: 0.4s;

/*Media Rules */
$mobile-width: 414px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width+1}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobileOnly {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
  
}
@mixin desktopTabletOnly {
  @media (min-width: #{$mobile-width+1})  {
    @content;
  }
}
